.main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 500px;
  height: 40px;
  left: 350px;
  top: 380px;
  background: #dcdcdc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 64.5px;
  border: none;
  outline: none;
  padding-left: 20px;
}

label {
  font-size: 25px;
  margin-bottom: 10px;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 375px) {
  input {
    width: 270px;
    height: 30px;
  }
}
