.pokemon-photo {
  width: 160px;
  height: 160px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 12px;
  border: 2px solid #dcdcdc;
  border-radius: 6px;
}

@media (min-width: 375px) {
  .title-cel {
    margin: 0px !important;
  }
}
