.header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 150px;
  width: 100vw;
  background-color: red;
}

.img-logo {
  position: relative;
  height: 350px;
}

@media (max-width: 375px) {
  .img-logo {
    height: 260px;
  }
}
